/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*******************************************************************************
*******************************************************************************
*******************************************************************************
*******************************************************************************
*******************************************************************************
*/

body {
  position: relative;
  width: 600px;
  height: 1160px;
  font-family: "Smythe", cursive;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("images/burger.webp");
  background-size: 71%;
  background-repeat: no-repeat;
  background-color: black;
  background-position-x: 300px;
  padding: 46px;
  height: 130px;
  color: #ffffff;
}

header h1 {
  font-size: 39px;
}

header p {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 22px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 20px 46px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #d2d2d2;
  padding: 50px 0;
}

.menu-item-emoji {
  font-size: 79px;
}

.menu-item-name {
  color: #000000;
  font-size: 28px;
}

.menu-item-ingredients {
  padding-top: 5px;
  color: #8b8b8b;
  font-size: 16px;
}

.menu-item-price {
  padding-top: 10px;
  color: #000000;
  font-size: 20px;
}

.menu-item-add-button {
  margin-left: auto;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  background: none;
  width: 50px;
  height: 50px;
  color: #3c3c3c;
  font-weight: 200;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: column;
  padding: 50px 46px;
}

.order-title {
  font-size: 28px;
  text-align: center;
}

.order-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 15px;
}

.border-top {
  border-top: 2px solid #393333;
  padding-top: 15px;
}

.order-item {
  font-size: 28px;
}

.order-item-row {
  display: flex;
  justify-content: space-between;
}

.order-remove {
  margin-left: 10px;
  border: 0;
  background: none;
  color: #bbbbbb;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price {
  font-size: 20px;
}

.complete-order,
.pay {
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  background: #16db99;
  padding: 20px 0;
  padding-top: 20px;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* card details */

.card-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #ffffff;
  width: 524px;
  height: 524px;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.card-details-header {
  padding: 48px 100px;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-details-field {
  margin-top: 20px;
  border: 1px solid #757575;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  color: #757575;
  font-size: 20px;
}

.complete-order {
  width: 100%;
}

/* Thanks screen */

.thanks-container {
  padding: 46px;
}

.thanks-screen {
  border-radius: 3px;
  background: #ecfdf5;
  padding: 55px 0px;
  color: #065f46;
  font-size: 32px;
  text-align: center;
}
