body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  max-width: 550px;
}

#input-container {
  background-color: #694eff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.input-element {
  margin: 16px 0;
}

h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
}

input {
  background: none;
  border: 2px solid #b295ff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  font-family: inherit;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  width: 120px;
}

button {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding: 9px 27.5px;
}

#result-container {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0px;
}

.result {
  align-items: center;
  border: none;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 0;
  width: 500px;
}

.result-desc {
  color: #5a537b;
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
}

.result-value {
  color: #353535;
  font-size: 14px;
  padding: 10px 0px 20px 0px;
}
